.arabic {
  font-family: Cairo !important;
}

.arabic p,
.arabic h1,
.arabic h2,
.arabic h3,
.arabic h4,
.arabic h5,
.arabic h6,
.arabic div,
.arabic span {
  font-family: Cairo !important;
}

.english {
  font-family: "GilroyBold" !important;
}

.english p,
.english h1,
.english h2,
.english h3,
.english h4,
.english h5,
.english h6,
.english div,
.english span {
  font-family: "GilroyBold" !important;
}
